#page{width:960px; margin:0 auto;}
.mast{padding-left:.1em; padding-right:.1em;}
a.logo{width:30%; height:30%;}
sup {font-size:70%;height:0;line-height:1;vertical-align:top;}
h1 a {padding-top: 117px;height: 162px;display: block;text-align: center;}

/*ul.nav{position:relative; right:0; float:right; }*/
ul.nav li{padding: .7em;}
ul.nav li.last{padding-right:0;}
ul.nav a {
	display: block;
	margin-bottom:0;
}
.main h2 {
	font-size: 1.2em;
	margin: 0.75em 15em  0.5em 3em;
	}
.main h2 b {
	background: url("../img/bg.png");
	font-weight: normal;
	padding: 0 1em;
	}
.main h1.job{
	font-size: 1.5em;
	margin-top:4em;}

.main h2.job{
	font-size: 1em;
	margin: 0.95em 15em  0.5em 3em;
	margin-left:0;
	}
.main h3.job{
font-size: .85em;
	margin: 0 15em  0 3em;
	margin-left:0;
	}
.main p{
	margin: 0.75em 24em  0.5em 4.25em;
	}
	.main p.apply{margin:20px 0;}
.main p.apply a{background: none repeat scroll 0 0 #191919;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 5px;
	padding:2px;
	font-size:11px;}	
	
.main ul{margin-left:1em;}
.media li{width:200px; margin: 1em 1.2em;}
	
form{width:480px;}

input#InquiryStoreName, input#InquiryStoreAddress,input#InquiryWebsite,input#InquiryName,input#InquiryEmail, textarea#InquiryMessage{width:480px; padding:0;}
textarea#InquiryMessage{height:100px;}
input[type="submit"]{float:right; border:none; background:#191919; color:#ffffff; margin-top:5px;cursor:pointer;}


