.contact-forms {
  max-width: none;
  float: right;
  margin: 0;
  width: 55%; }

form {
  max-width: 760px;
  float: none;
  margin: 0 auto;
  width: 100%; }
  form fieldset {
    display: block;
    margin-bottom: 10px; }
    form fieldset legend {
      display: block;
      background-color: black;
      color: white;
      line-height: 20px;
      padding: 4px 5px;
      width: 100%; }
  form label {
    display: block;
    float: none; }
  form .text,
  form .textarea,
  form .select,
  form .email {
    padding: 4px;
    padding-right: 24px; }
    form .text input, form .text select, form .text textarea,
    form .textarea input,
    form .textarea select,
    form .textarea textarea,
    form .select input,
    form .select select,
    form .select textarea,
    form .email input,
    form .email select,
    form .email textarea {
      display: block;
      width: 100%;
      padding: 4px 8px; }
  form .required label {
    color: #300000; }
    form .required label:after {
      content: " *";
      color: red;
      font-weight: bold; }

  form .error {
    background-color: #ffe5e5;
    padding: 4px 5px; }
    form .error .error-message {
      color: red; }
    form .error label {
      color: red; }
    form .error input, form .error select, form .error textarea {
      border-color: red; }
  form .input-note {
    font-size: 90%;
    font-style: italic; }
	ul.actions, ul.actions li, ul.actions a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left; }
ul.actions a {
  display: block;
  text-decoration: none;
  padding: 5px;
  margin: 4px;
  border: 1px solid;
  border-radius: 4px;
  background-color: white; }
  ul.actions a:hover {
    background-color: #CCC;
    color: white;
    font-weight: normal; }
ul.actions.actions-menu {
  padding: 5px;
  background-color: #eeeeee;
  float: none;
  overflow: hidden; }
