<?xml version="1.0" encoding="utf-8"?>
<items>
  <item1>
    <imgpath>spring2010/1.jpg</imgpath>
    <par>HODDIE: 8083H (A3)</par>
  </item1>
  <item2>
    <imgpath>spring2010/2.jpg</imgpath>
    <par>TOP:2335S (A3)%DENIM:JB263 (ANTIQUE)</par>
  </item2>
  <item3>
    <imgpath>spring2010/3.jpg</imgpath>
    <par>TOP: 2355S (A3)%DENIM: JE6273 (M/BLUE)</par>
  </item3>
  <item4>
    <imgpath>spring2010/4.jpg</imgpath>
    <par>TOP: 2355S (A8)</par>
  </item4>
  <item5>
    <imgpath>spring2010/5.jpg</imgpath>
    <par>HODDIE: 8081H (A4)%TOP: 80801V (WHITE)%DENIM: JE2141 (BLACK)</par>
  </item5>
  <item6>
    <imgpath>spring2010/6.jpg</imgpath>
    <par>TOP: 80801V (CHARCOAL)%DENIM: JE6256 (M/BLUE)</par>
  </item6>
  <item7>
    <imgpath>spring2010/7.jpg</imgpath>
    <par>TOP: 80801V (BLACK)%DENIM: JB265 (DK/BLUE)</par>
  </item7>
  <item8>
    <imgpath>spring2010/8.jpg</imgpath>
    <par>TOP: 2334S (GREEN)%DENIM: JB601 (ICE BLUE)</par>
  </item8>
  <item9>
    <imgpath>spring2010/9.jpg</imgpath>
    <par>TOP: 80802V (A2)%DENIM: JE6239 (VINTAGE)</par>
  </item9>
  <item10>
    <imgpath>spring2010/10.jpg</imgpath>
    <par>TOP: 80803V (A7)%DENIM: JE6262 (VINTAGE)</par>
  </item10>
</items>