<?xml version="1.0" encoding="utf-8"?>

<images>
	<item>spring09/1.jpg</item>
	<item>spring09/2.jpg</item>
	<item>spring09/3.jpg</item>
	<item>spring09/4.jpg</item>
	<item>spring09/5a.jpg</item>
	<item>spring09/7a.jpg</item>
	<item>spring09/8a.jpg</item>
	<item>spring09/9a.jpg</item>
	<item>spring09/10a.jpg</item>
	<item>spring09/11a.jpg</item>
	<item>spring09/12a.jpg</item>
	<item>spring09/13a.jpg</item>
	<item>spring09/14a.jpg</item>
	<item>spring09/15a.jpg</item>
	<item>spring09/16a.jpg</item>
	<item>spring09/17a.jpg</item>
	<item>spring09/17c.jpg</item>
	<item>spring09/18a.jpg</item>
	<item>spring09/19a.jpg</item>
	<item>spring09/20a.jpg</item>
	<item>spring09/21.jpg</item>
	<item>spring09/22.jpg</item>
	<item>spring09/23.jpg</item>
	<item>spring09/24.jpg</item>
	<item>spring09/25.jpg</item>
	<item>spring09/26.jpg</item>
	<item>spring09/27a.jpg</item>
	<item>spring09/28a.jpg</item>
	<item>spring09/30.jpg</item>
</images>