<?xml version="1.0" encoding="utf-8"?>
<items>
  <item1>
    <imgpath>spring2011/1.jpg</imgpath>
    <par>TOP: 2377 (BROWN)</par>
  </item1>
  <item2>
    <imgpath>spring2011/2.jpg</imgpath>
    <par>TOP: 80811V (WHITE)%CARDIGAN: 39135 (A5)%JEANS: JE6361 (VINTAGE)</par>
  </item2>
  <item3>
    <imgpath>spring2011/3.jpg</imgpath>
    <par>TOP: 80800V (WHITE)%CARDIGAN: 39132 (A5)%JEANS: JB2009 (WHITE)</par>
  </item3>
  <item4>
    <imgpath>spring2011/4.jpg</imgpath>
    <par>TOP: 80800V (WHITE)%CARDIGAN: 39136 (A4)%JEANS: JB2009 (WHITE)</par>
  </item4>
  <item5>
    <imgpath>spring2011/5.jpg</imgpath>
    <par>TOP: 80800V (WHITE)%CARDIGAN: 39135 (B3)</par>
  </item5>
  <item6>
    <imgpath>spring2011/6.jpg</imgpath>
    <par>TOP: 80800V (WHITE)%CARDIGAN: 39133 (WHITE)%JEANS: 4156 (KHAKI)</par>
  </item6>
  <item7>
    <imgpath>spring2011/7.jpg</imgpath>
    <par>TOP: 2395S (GREY)%CARDIGAN: 39138 (A8)%JEANS: JE2225 (CHARCOAL)</par>
  </item7>
  <item8>
    <imgpath>spring2011/8.jpg</imgpath>
    <par>TOP: 80811V (WHITE)%CARDIGAN: 39135 (A5)</par>
  </item8>
  <item9>
    <imgpath>spring2011/9.jpg</imgpath>
    <par>TOP: 80811V (WINE)%JEANS: JE6361 (VINTAGE)</par>
  </item9>
</items>