$backgroundColor: 		#EEE;
$paddingSmall: 			4px 5px;
$paddingLarge:			10px 15px;
$baseLineHeight:		20px;

form {
	width: auto;
	float: none;
}

//Cake information
.cake-error {
	display: block;
	clear: both;
	padding: 20px;
	margin: 20px;
}
#crumbs {
	clear: both;
	padding: $paddingSmall;
	background: $backgroundColor;
	margin-bottom: $baseLineHeight / 2;
	font-size: 12px;
	line-height: $baseLineHeight;
	a {
		margin-right: 5px;
	}
}
#flashMessage {
	clear: both;
	display: block;
	float: none;
	padding: $paddingLarge;
	margin: 10px;
	border: 1px solid #CCC;
	border-radius: 4px;
}

// Custom Classes
.table-index-form {
	td {
		border: 1px solid #CCC;
	}
}

ul.top-menu {
	display: block;
	clear: both;
	overflow: hidden;
	
	li, a {
		float: left;
	}
	a {
		padding: 10px;
	}
}
ul.actions {
	&, li, a {
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: left;
	}
	a {
		display: block;
		text-decoration: none;
		padding: 5px;
		margin: 4px;
		border: 1px solid;
		border-radius: 4px;
		background-color: white;
		&:hover {
			background-color: #CCC;
			color: white;
		}
	}
	&.actions-menu {
		padding: 5px;
		background-color: $backgroundColor;
		float: none;
		overflow: hidden;
	}
}
