// CSS being added to aid in web development
// Feel free to adjust this however you see fit

@import "variables";		//Variables to customize the layout
@import "cake";				//Styles pertaining to the Cake framework
@import "form";				//Styles pertaining to forms

// Custom Classes
dl.job-view {
	display: block;
	padding: $paddingLarge;
	dd, dt {
		line-height: $baseLineHeight;
		display: block;
		padding: $paddingSmall;
	}
	dt {
		font-weight: bold;
	}
	dd {
		padding: $paddingLarge;
		padding-top: 0;
	}		
}

// Table Index Form
// -----------------------------------
.table-index-form {
	width: 100%;
	td {
		border: 1px solid #CCC;
	}
}
.add-row-input {
	overflow: hidden;
	padding: $paddingSmall;
	label, input, button {
		float: left;
	}
	input {
		width: 40px;
		padding: $paddingSmall;
		text-align: center;
	}
}

// Basic Table for Indexes
// --------------------------------------
.table-index {
	width: 100%;
	margin-bottom: $baseLineHeight / 2;
}

// Top menu navigation
// --------------------------------------
ul.top-menu {
	display: block;
	clear: both;
	overflow: hidden;
	
	li, a {
		display: inline-block;
	}
	a {
		padding: 10px;
	}
	li.selected a {
		font-weight: bold;
	}
}
ul.actions {
	&, li, a {
		margin: 0;
		padding: 0;
		list-style-type: none;
		float: left;
	}
	a {
		display: block;
		text-decoration: none;
		padding: 5px;
		margin: 4px;
		border: 1px solid;
		border-radius: $baseBorderRadius;
		background-color: white;
		&:hover {
			background-color: #CCC;
			color: white;
		}
	}
	&.actions-menu {
		padding: 5px;
		background-color: $backgroundColor;
		float: none;
		overflow: hidden;
	}
}
